<!-- Meetings listing page - Displays all meetings with compact cards. -->
{% extends 'layouts/page.html' %}

{% set current_page = 'meetings' %}
{% set is_detail_page = false %}

{% block title %}Meetings - {{ site.title }}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p class="text-muted small mb-3">All meetings at <a href="https://www.artisansasylum.com" target="_blank">Artisans Asylum, 96 Holton Street, Allston</a></p>
            {{ meetings_content }}
        </div>
    </div>
{% endblock %}