<!-- Members listing page - Displays all members in a grid. Not reusable. -->
{% extends 'layouts/page.html' %}

{% set current_page = 'members' %}
{% set is_detail_page = false %}

{% block title %}Members - {{ site.title }}{% endblock %}

{% block main_content %}
    <h1 class="river-header">Members</h1>
    <div class="members-grid">
        {{ members_content }}
    </div>
    <p class="members-hashtag-note">
        <strong>Available hashtags:</strong>
        {% for tag in valid_hashtags %}#{{ tag }}{% if not loop.last %} &nbsp;{% endif %}{% endfor %}
    </p>
{% endblock %}