<!-- News listing page - Displays all news items with compact cards. Not reusable. -->
{% extends 'layouts/page.html' %}

{% set current_page = 'news' %}
{% set is_detail_page = false %}

{% block title %}What's New - {{ site.title }}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-7">
            <h3 class="mb-4">Latest News</h3>
            {{ news_content }}
        </div>
        <div class="col-lg-5">
            <h3 class="mb-4">Recent Meetings</h3>
            {{ meetings_content }}
        </div>
    </div>
{% endblock %}